.position {
  display: flex;
  gap: 22px;
}

.average {
  border: 1px solid black;
  font-size: 1em;
  padding: 6px;
}

.geners {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.inform {
  display: flex;
  gap: 12px;
  font-size: 1em;
}

.text {
  margin-top: 8px;
}

.image {
  width: 300px;
  border-radius: 8px;
}
