.navigate {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 6px;
  border-radius: 4px;
  background-color: #71968f;
}

.text:hover {
  color: aliceblue;
}
