.form div {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

.text {
  border: none;
  padding: 1em;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
}

.form div input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.form div input:focus {
  outline: none;
}
